<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <p class="copyright text-muted small">
                  <span>© {{site.name}} 2016.</span>
                </p>
            </div>
            <div class="col-md-6 col-sm-12">
                <p class="powered-by text-muted small">
                  <a href="https://editllc.com/" target="_blank">Generated and Powered by Edit LLC</a>
                </p>
            </div>
        </div>
    </div>
</footer>
