<!doctype html>
<html>
<head>
  <title>{{page.title}}</title>

  {{page.head|safe}}

  {% if page.css %}
  <style>{{page.css}}</style>
  {% endif %}

  {% if page.javascript %}
  <script type="application/javascript">{{page.javascript}}</script>
  {% endif %}
</head>
<body>
  {% block header %}
  {% include "/header.html" %}
  {% endblock header %}

  {% block content %}
    {{content|safe}}
  {% endblock content %}

  {% block footer %}
  {% include "/footer.html" %}
  {% endblock footer %}
</body>
</html>
