<!doctype html>
<html>
<head>
  {{site.head|safe}}

  {% if site.css %}
  <style>{{site.css}}</style>
  {% endif %}
  
  {% if site.javascript %}
  <script type="application/javascript">{{site.javascript}}</script>
  {% endif %}

  {% block head %}
  {% endblock head %}
</head>
<body>
  {% block header %}
  {% include "/header.html" %}
  {% endblock header %}

  {% block content %}

  {% endblock content %}

  {% block footer %}
  {% include "/footer.html" %}
  {% endblock footer %}
</body>
</html>
